---
import ProductGrid from "../components/ProductGrid.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Welcome to LAZY MONDAYS CO.'>
    <main>
        <ProductGrid />
    </main>
</Layout>
