@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #e5e7eb;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #e5e7eb inset;
  box-shadow: 0 0 0px 1000px #FFF inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #1b1b1b !important;
-webkit-text-fill-color: #1b1b1b;
outline: none;
}

input:-webkit-autofill:focus {
border: 1px solid #ff8f9c;
}

@layer components {
    .header_top__icon_wrapper {
        @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
    }

    .navbar__link:hover {
        color: #ff8f9c;
        transition: all 0.4s;
    }

    .navbar__link::after {
        position: absolute;
        content: "";
        background-color: #ff8f9c;
        height: 3px;
        width: 100%;
        bottom: -5px;
        left: 0;
        scale: 0;
        transform-origin: left;
        transition: all 0.4s;
    }

    .navbar__link:hover::after {
        scale: 1;
    }


        .slick-dots  {
            display: block !important;
          position: relative !important;
          bottom: 0 !important;
        }
    .slick-dots li {
        height: 40px !important;
        width: 40px !important;
    }
    .slick-dots img {
    
        border: 1px solid #eee !important;
        border-radius: 0.75rem !important;
    }
}